<a href="https://colab.research.google.com/github/CarmenSosaO/SosaOrtizCarmenEstructuraDatos/blob/main/Ejercicio_Redes_Sociales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np                 
import pandas as pd

In [6]:
df = pd.read_csv("presenciaredes.csv", low_memory=False)

In [7]:
df

,RED SOCIAL,CONCEPTO,AÑO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,Unnamed: 15
0,FACEBOOK,SEGUIDORES,2020,"152,107","156,957","160,595","165,180","170,488","178,413",0,0,0,0,0,0,NaN
1,FACEBOOK,CRECIMIENTO (seguidores),2020,660,"4,850","3,638","4,585","5,308","7,925",0,0,0,0,0,0,NaN
2,FACEBOOK,PORCENTAJE DE CRECIMIENTO,2020,0.43%,3%,2%,3%,3%,4%,0%,0%,0%,0.00%,0.00%,0%,NaN
3,FACEBOOK,PUBLICACIONES,2020,45,53,52,106,98,64,0,0,0,0,0,0,NaN
4,FACEBOOK,ME GUSTA EN PUBLICACIONES,2020,8771,9002,13556,"15,022",38953,16487,0,0,0,0,0,0,NaN
5,FACEBOOK,PUBLICACIONES COMPARTIDAS,2020,2338,2680,2802,4214,8415,4240,0,0,0,0,0,0,NaN
6,FACEBOOK,COMENTARIOS (USUARIOS),2020,902,601,775,1100,2614,1268,0,0,0,0,0,0,NaN
7,TWITTER,SEGUIDORES (FOLLOWERS),2020,"62,404","63,232","64,149","65,410","66,355","67,496",0,0,0,0,0,0,NaN
8,TWITTER,CRECIMIENTO DE FOLLOWERS,2020,863,828,917,"1,261",945,"1,141",0,0,0,0,0,0,NaN
9,TWITTER,PORCENTAJE DE CRECIMIENTO,2020,1%,1%,1%,2%,1%,1%,0%,0%,0%,0.00%,0%,0%,NaN
10,TWITTER,PUBLICACIONES,2020,77,84,90,135,127,82,0,0,0,0,0,0,NaN
11,TWITTER,RETUITS,2020,563,601,748,847,"1,136",780,0,0,0,0,0,0,NaN
12,TWITTER,ME GUSTA,2020,1224,1225,1601,"1,994","2,667",2069,0,0,0,0,0,0,NaN
13,TWITTER,IMPACTOS,2020,197275,220118,270310,"311,931","409,684",284147,0,0,0,0,0,0,NaN
14,YOUTUBE,VIDEOS,2020,1,2,5,4,4,4,0,0,0,3,5,0,NaN
15,YOUTUBE,VISUALIZACIONES,2020,"12,226","15,605","19,602","19,452","21,805",17344,0,0,0,0,0,0,NaN
16,YOUTUBE,COMENTARIOS,2020,0,0,2,0,6,0,0,0,0,1,3,0,NaN
17,YOUTUBE,ME GUSTA,2020,4,15,15,8,30,33,0,0,0,8,23,0,NaN

### DIFERENCIA DE SEGUIDORES EN TWITTER ENTRE ENERO Y JUNIO

In [8]:
df.iloc[[7],[0,1,2,3,4,5,6,7,8]]

,RED SOCIAL,CONCEPTO,AÑO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO
7,TWITTER,SEGUIDORES (FOLLOWERS),2020,"62,404","63,232","64,149","65,410","66,355","67,496"

### CRECIMIENTO DE TWITTER Y FACEBOOK ENTRE ENERO A JUNIO

In [10]:
df.iloc[[2,9],[0,1,2,3,4,5,6,7,8]]

,RED SOCIAL,CONCEPTO,AÑO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO
2,FACEBOOK,PORCENTAJE DE CRECIMIENTO,2020,0.43%,3%,2%,3%,3%,4%
9,TWITTER,PORCENTAJE DE CRECIMIENTO,2020,1%,1%,1%,2%,1%,1%

### VISUALIZACIONES DE YOUTUBE ENTRE ENERO Y JUNIO

In [15]:
N = int(input("Teclea un número entre 3 y 8 según el mes que te interesa conocer: " ))
df.iloc[[15],[N]]

Teclea un número entre 3 y 8 según el mes que te interesa conocer: 5

     MARZO
15  19,602